go 1.21.0

use (
	./microservices/balance-check-service
	./microservices/buyback-service
	./microservices/mutation-check-service
	./microservices/price-check-service
	./microservices/price-input-service
	./microservices/price-input-storage
	./microservices/topup-service
	./microservices/topup-storage
)
